@media (min-width: 992px) {
    .first-screen {
        .first-screen-slider_title {
            max-width: 463px;
        }

        .first-screen-slider_subtitle {
            max-width: 345px;
        }
        .slider {
            border-radius: 20px;
        }

        section {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}
