@media (min-width: 992px) {

    .first-screen {
        margin-bottom: 101px
    }

    .advantages {
        .container-fluid {
            border-radius: 20px;
            margin-top: 119px;
        }
    }


    .navbar {
        margin-top: 10px;
        margin-bottom: 21px;
    }

    .first-screen {
        .first-screen-slider_title {
            max-width: 463px;
        }

        .first-screen-slider_subtitle {
            max-width: 345px;
        }

        .slider {
            border-radius: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        section {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .calculation {
        &-form {
            margin-left: 15px;
        }

        .padding {
            padding-top: 23px;
            // padding-top: 20px;
        }

        .template-title {
            &:after {
                content: "";
                display: none;
            }
        }
    }

}
