@media screen and (max-width: 767px) {
    .calculation {
        &-form{
            padding: 52px 30px 34px;
        }
        .btn{
            max-width: 100%;
        }
        .input-row {
            flex-direction: column;
        }
    }
}
