.color-item {
    width: 100%;
    height: 150px;
    margin-bottom: 24px;
}

.color-item-1 {
    background-color: $color-primary;
}

.color-item-2 {
    background-color: $color-secondary;
}

.color-item-3 {
    background-color: $bg-primary;
    border: 1px solid #fff;
}

.color-item-4 {
    background-color: $bg-secondary;
}

.selextion_example::selection {
    background-color: $color-secondary;
}




.wf-300 {
    font-weight: 300;
}

.wf-400 {
    font-weight: 400;
}

.wf-600 {
    font-weight: 600;
}

.wf-700 {
    font-weight: 700;
}




.h1 {
    font-size: 56px;
}

.h2 {
    font-size: 36px;
}

.h3 {
    font-size: 24px;
}

.h4 {
    font-size: 22px;
}

.h5 {
    font-size: 20px;
}

.h6 {
    font-size: 18px;
}

[type="checkbox"],
[type="radio"] {
    display: none;
    +label {
        display: flex;
        cursor: pointer;
        // letter-spacing: -0.4px;
        &:before {
            content: "";
            display: block;
            background-color: #FFFFFF;
            border: 1px solid #282B38;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            margin-right: 9px;
            margin-top: -4px;
            

        }

        &:hover {
            &::before {
                border: 1px solid $color-primary;
            }
        }
    }

    &:checked {
        +label {
            &:before {
                content: "";
                background: url(./assets/img/checked_1.svg) center/15px no-repeat #fff;
            }
        }
    }
}



[type="radio"] {
    &:checked {
        +label {
            &:before {
                content: "";
                border-radius: 50%;
            }
        }
    }

    +label {
        &:before {
            content: "";
            border-radius: 50%;
        }
    }
}





.scroll {
    height: 405px;
    width: 360px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
        /* ширина для вертикального скролла */
        background-color: $color-secondary;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-primary;
        // border: 2px solid $bg-secondary;
        border-radius: 20px;



    }
}
