.first-screen {
    position: relative;
    .container{
        margin-bottom: 64px;
        padding: 0 20px 0 14px;
    }
    &-slider {
        margin:23px;

        .first-screen-slider_title {
            font-weight: 700;
            font-size: 56px;
            line-height: 126%;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        .first-screen-slider_subtitle {
            max-width: 345px;
            font-weight: 300;
            font-size: 20px;
            line-height: 135.5%;
            margin-bottom: 37px;
        }

        .first-screen-slider {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .slider {
            max-width: 1820px;
            min-height: 700px;
            display: flex;
            align-items: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}

.first-screen-slider_arrows {
    //поле для стрілок
    // margin: 0 100px 0 100px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% , -50%);
    max-width: 1723px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;


    .slick-arrow {
        //ліва і права
        width: 50px;
        height: 50px;
        background-color: transparent;
        color: transparent;
        box-shadow: none;
        border: none;
        position: relative;

        &:focus {
            box-shadow: none;
            border: none;
        }

        &::after,
        &::before {
            content: "";
            width: 27.5px;
            height: 2.5px;
            background-color: $color-secondary;
            position: absolute;
            top: 9px;
            right: 0;
            transition: 1s;
            transform: translate(-9px, 22px) rotate(-45deg);
        }

        &::before {
            top: -9px;
            transform: translate(-9px, 22px) rotate(45deg);
        }
    }

    .slick-prev {
        //стрілка назад
        // transform: translate(187px, 0);
        margin-right: auto;
        &::after {
            transform: translate(-9px, 22px) rotate(45deg);
        }

        &::before {
            transform: translate(-9px, 22px) rotate(-45deg);
        }
    }

    .slick-next {
        //стрілка вперед
        // transform: translate(-187px, 0);
        &::after,
        &::before {
            background-color: $text-color;
        }

    }
}

.slick-dots {
    //точки активного слайду
    display: flex;
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translate(-50%, 0);

    .slick-active {
        background-color: $text-color;
        border-radius: 50%;
    }

    li {
        margin: 0 13px;
        list-style: none;
        height: 8px;
        line-height: 1;
        font-size: 0
    }

    button {
        font-size: 0;
        padding: 0px;
        border-radius: 50%;
        opacity: 0.9;
        border: 2px solid $text-color;
        width: 8px;
        height: 8px;
        background: transparent;
        outline: none;
    }

}

