.first-screen {
    position: relative;

    .container {
        margin-bottom: 64px;
        padding: 0 20px 0 14px;
    }

    &-slider {
        display: flex;
        align-items: center;
        justify-content: center;

        .first-screen-slider_title {
            font-weight: 700;
            font-size: 56px;
            line-height: 126%;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        .first-screen-slider_subtitle {
            max-width: 345px;
            font-weight: 300;
            font-size: 20px;
            line-height: 135.5%;
            margin-bottom: 37px;
        }

        .slider {
            max-width: 1820px;
            min-height: 700px;
            display: flex;
            align-items: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}

.first-screen-slider_arrows {
    //поле для стрілок
    // margin: 0 100px 0 100px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    max-width: 1723px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;


}
