body {
    background-color: $bg-primary;
    color: $text-color;  
  }
  .container{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .btn{
    &:focus{
      box-shadow: none;
    }
    &:focus-visible{
      box-shadow: none;
    }
    
  }
  