 .collapse {
     padding: 0px;
 }
 .navbar{
    margin-top: 10px;
 }

 .navbar-nav {
     width: 100%;
     display: flex;
     justify-content: space-around;
     margin: 16px 73px 11px 59px;

     .nav-link {
         color: $text-color;
         font-size: 16px;
         line-height: 146%;
         letter-spacing: 0.08px;
     }
 }

 .btn_header,
 .nav-link {
     white-space: nowrap;
 }

 .navbar-toggler-icon {
     background: none;

 }

 .navbar-toggler {
     padding: 4px;

     &:focus {
         box-shadow: none;
         border: none;
     }

     .navbar-toggler-icon {
         width: 27.5px;
         height: 2.5px;
         background-color: white;
         position: relative;

         &::after,&::before {
             content: "";
             width: 27.5px;
             height: 2.5px;
             background-color: white;
             position: absolute;
             top: 9px;
             right: 0;
             transition: 1s;
         }

         &::before {
            top: -9px;
         }
     }

     &[aria-expanded="true"] {
         .navbar-toggler-icon {
             background: none;

             &::after {
                 transform: translate(0px, -9px) rotate(45deg);
             }

             &::before {
                 transform: translate(0px, 9px) rotate(-45deg);
             }
         }
     }
 }

