<section class="first-screen">
    <div class="first-screen-slider">
        <div class="slider" style="background-image: url(assets/img/slider-1.png);">
              <div class="container">
            <div class="first-screen-slider_title">Прямое КАРГО из Китая</div>
            <div class="first-screen-slider_subtitle">Доставляем любые грузы из Китая по честной цене</div>
            <button type="button" class="btn btn-primary btn_arrow_left btn-lg">Рассчитать стоимость</button>
        </div>
        </div> 
      <div class="slider" style="background-image: url(assets/img/slider-2.png);">
         <div class="container">
            <div class="first-screen-slider_title">Выкуп товара с ТаоБао, 1688</div>
            <div class="first-screen-slider_subtitle">Выкуп и доставка товаров с китайских торговых площадок.</div>
            <button type="button" class="btn btn-primary btn_arrow_left btn-lg">Рассчитать стоимость</button>
        </div>
      </div>
      <div class="slider" style="background-image: url(assets/img/slider-3.png);">
        <div class="container">
           <div class="first-screen-slider_title">Выкуп товара с ТаоБао, 1688</div>
           <div class="first-screen-slider_subtitle">Выкуп и доставка товаров с китайских торговых площадок.</div>
           <button type="button" class="btn btn-primary btn_arrow_left btn-lg">Рассчитать стоимость</button>
       </div>
     </div>
       <div class="slider" style="background-image: url(assets/img/slider-4.png);">
        <div class="container">
            <div class="first-screen-slider_title">Экспресс авто доставка</div>
            <div class="first-screen-slider_subtitle">Доставка автотранспортом из Китая в Украину от 15 дней, от $0.5/кг</div>
            <button type="button" class="btn btn-primary btn_arrow_left btn-lg">Рассчитать стоимость</button>
        </div>
       </div>
      
    </div>
     <div class="first-screen-slider_arrows"></div>
</section>