<footer>
    <div class="container">
        <div class="footer-row-box">
            <div class="footer-column-box">
                <a class="navbar-brand" href="index.html"><img src="assets/img/logo.svg" alt="logo"></a>
                <span class="tel">8(800)600-18-69</span>
                <span class="mail">info@cargoasia.info</span>
                <span class="address">Адрес в Китае: 
                    浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话</span>
                <span class="code">15966660379</span>
                <div class="social-icon">
                    <a  href="https://www.instagram.com" class="instagram-icon" ></a>
                    <a  href="https://https://vk.com" class="vkontakte-icon" ></a>
                    <a  href="https://https://web.telegram.org" class="telegram-icon" ></a>
                </div>
            </div>
            <div class="footer-column-box">
                <h5>Грузоперевозки</h5>
                <a href="">Цены и сроки</a>
                <a href="">Услуги</a>
                <a href="">О компании</a>
                <a href="">Контакты</a>
                <a href="">Оформить груз</a>
            </div>
            <div class="footer-column-box">
                <h5>Услуги</h5>
                <a href="">Выкуп товара</a>
                <a href="">Страховка груза</a>
                <a href="">Аренда склада</a>
                <a href="">Перевод денежных средств</a>
            </div>
            <div class="footer-column-box">
                <h5>Информация</h5>
                <a href="">Отзывы</a>
                <a href="">Требования к грузу</a>
                <a href="">Договор-оферта</a>
                <a href="">Как заключить договор</a>
                <a href="">Способы оплаты услуг</a>
                <a href="">Документы</a>
                <a href="">Статьи</a>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/custom.js"></script>

</body>

</html>
